.card{
  border: 2px inset green;
  border-radius: 4%;
  width: 60%;
  background-color: #ED8762;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Experience card*/
.cardContainer {
  border: 2px inset green;
  border-radius: 4%;
  background-color: #ED8762;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%; 
  margin: 0px 4px;
}

.topSection {
  background-color: #dccd91;
  position: relative; /* Mandatory for Next.js Image with 'fill' */
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bgImage {
  object-fit: contain;
  z-index: 0;
}

.overlayText {
  position: relative; /* Lifts text above the image's absolute positioning */
  z-index: 10;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.bottomSection {
  flex: 1; /* Takes the remaining 30% */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: max-content;
}
/* Image card*/

.horizontalFlex{
  height: 70%;
  background-color: #dccd91;
  display: flex;
  flex-direction: row;
  border-bottom: 2px inset green;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4px;
}
.image{
  width: 40%;
  height: auto;
  object-fit: contain;
  display: block;
}
/* General card*/
.text {
  width: 70%;
  font-weight: lighter;
  text-align: center;
}
.subtitle{
  text-align: center;
}