.main{
  width: 50%;
  font-size: large;
}

.card{
  width: 30vw;
}

.container {
  position: relative;
  width: 100%;
  height: 500px; /* Or whatever height you need */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;     /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  color: red;            /* Contrast against the image */
}