.main{
  width: 70%;
  font-size: large;
}
.table{
  border-spacing: 40px 00px;
  padding-top: 0px;
}
.yearsCol{
  width: 20%;
  text-align: right;
}
.formationCol{
  text-align: left;
}
.table thead th {
  padding-bottom: 5%; /* Adjust this value for more space */
}

.tbody tr td {
  padding-top: 3%;
  padding-bottom: 3%;
}
.group{
  padding-top: 4%;
}
.year{
  font-weight: bold;
}

@media (max-width: 768px),
(max-height: 500px) {
  .main{
    width: 100%;
  }
.table{
  border-spacing: 10px 0px;
}
}