
.section {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: adds a background for readability */
  margin-left: 5%;
  margin-right: 5%;
  min-height: 70vh;
  margin-bottom: 10%;
}

.title{
  margin-top: 4%;
  margin-bottom: 3%;
}

.img{
  position: relative;
  margin-left: 0; 
  padding-left: 0; 
width:30vw;
  aspect-ratio: 1 / 1;
}

.rightContent{
  position: relative;
  margin-left: 5%;
  width: 40%;
}

.btn{
  width: 10vw;
}

@media (max-width: 768px),
(max-height: 500px) {
  .section{
    height: auto;
  }
  .img {
    width: 40vw;
  }

.text{
  width: 70%;
  margin-left: 0%;
  margin-top: 2%;
}

.btn{
  width: 40vw;

}
.rightContent{
  margin-left: 0%;
  width: 70%;
  margin-top: 5%;
  margin-bottom: 1vh;
}
}
