.section{
  position: relative;
  background-color: #323232;
  color: #faefe0;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
}
.img{
  position: relative;
width:16vw;
aspect-ratio: 120/100;
}

@media (max-width: 768px) {

  .img {
    width: 50vw;
  }
}